#navbar {
  justify-content: space-around;
}

#home-bg {
  position: absolute;
  width: 100%;
  min-width: 80rem;
  min-height: 35rem;
  max-height: 35rem;
  
}

#home-content{
  min-height: 35rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-img {
  height: 5rem;
  width: 5rem;
  background-color: #309CFF;
}

#login-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
}
#login-form {
  border:3px solid rgb(235, 235, 235);
  border-radius: 1rem;
  padding: 3rem;
  max-width: 30rem;
}

